<!doctype html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main-layout.html}"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<body class="  ">
    <article layout:fragment="content">
        <div class="content-page">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card-block card-stretch card-height border-none col-lg-8">
                            <div class="card-body p-0 mt-lg-2">
                                <h3 class="">Welcome, <span th:text="${#authentication.name}"></span></h3>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12 align-content-center d-flex justify-content-center">
                        <div class="border-none ">
                            <div class="card-body p-0 mt-lg-2 mt-0">
                                <h3 class="mb-3">Sales Reporting and Analytics</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="card card-block card-stretch card-height">
                            <div class="card-body">
                                <div class="d-flex flex-wrap align-items-center mt-2">
                                    <div class="d-flex align-items-center progress-order-left">
                                        <div class="progress progress-round m-0 orange conversation-bar"
                                             id="circleLoyalCustomer" data-percent="46">
                                            <span class="progress-left">
                                                <span class="progress-bar"></span>
                                            </span>
                                            <span class="progress-right">
                                                <span class="progress-bar"></span>
                                            </span>
                                            <div class="progress-value text-secondary"></div>
                                        </div>
                                        <div class="progress-value ml-3 pr-5 border-right">
                                            <h5 id="loyalCustomer"></h5>
                                            <p class="mb-0">Loyal Customer</p>
                                        </div>
                                    </div>

                                    <div class="d-flex align-items-center ml-5 progress-order-right">
                                        <div class="progress progress-round m-0 primary conversation-bar"
                                             id="circleProductSold" data-percent="">
                                            <span class="progress-left">
                                                <span class="progress-bar"></span>
                                            </span>
                                            <span class="progress-right">
                                                <span class="progress-bar"></span>
                                            </span>
                                            <div class="progress-value text-primary"></div>
                                        </div>
                                        <div class="progress-value ml-3 pr-5 border-right">
                                            <h5 id="inventory"></h5>
                                            <p class="mb-0">Inventory</p>
                                        </div>
                                    </div>
<!--                                    <div class="d-flex align-items-center ml-5 progress-order-right">-->
<!--                                        <div class="progress progress-round m-0 red conversation-bar"-->
<!--                                             data-percent="46">-->
<!--                                            <span class="progress-left">-->
<!--                                                <span class="progress-bar"></span>-->
<!--                                            </span>-->
<!--                                            <span class="progress-right">-->
<!--                                                <span class="progress-bar"></span>-->
<!--                                            </span>-->
<!--                                            <div class="progress-value text-secondary">46%</div>-->
<!--                                        </div>-->
<!--                                        <div class="progress-value ml-3 pr-5 border-right">-->
<!--                                            <h5>$12,6598</h5>-->
<!--                                            <p class="mb-0">Loyal Customer</p>-->
<!--                                        </div>-->
<!--                                    </div>-->

<!--                                    <div class="d-flex align-items-center ml-5 progress-order-right">-->
<!--                                        <div class="progress progress-round m-0 orange conversation-bar"-->
<!--                                              data-percent="46">-->
<!--                                            <span class="progress-left">-->
<!--                                                <span class="progress-bar"></span>-->
<!--                                            </span>-->
<!--                                            <span class="progress-right">-->
<!--                                                <span class="progress-bar"></span>-->
<!--                                            </span>-->
<!--                                            <div class="progress-value text-secondary">46%</div>-->
<!--                                        </div>-->
<!--                                        <div class="progress-value ml-3 pr-5 border-right">-->
<!--                                            <h5>$12,6598</h5>-->
<!--                                            <p class="mb-0">Loyal Customer</p>-->
<!--                                        </div>-->
<!--                                    </div>-->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body col-lg-12">
                        <div class="card-body pt-0">
                            <div id="layout1-chart-5"></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 mb-4">
                        <div id="reportrange"
                             style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%">
                            <i class="fa fa-calendar"></i>&nbsp;
                            <span></span>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3">
                        <div class="card card-block card-stretch card-height">
                            <div class="card-body">
                                <div class="d-flex align-items-center card-total-sale">
                                    <div class="icon iq-icon-box-2 bg-info-light">
                                        <img th:src="@{/assets/images/report/total-sales.png}" class="img-fluid"
                                             alt="image">
                                    </div>
                                    <div>
                                        <p class="mb-2">Total Sales</p>
                                        <h4 id="total-sales"></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3">
                        <div class="card card-block card-stretch card-height">
                            <div class="card-body">
                                <div class="d-flex align-items-center card-total-sale">
                                    <div class="icon iq-icon-box-2 bg-danger-light">
                                        <img th:src="@{/assets/images/report/order-sales.png}" class="img-fluid"
                                             alt="image">
                                    </div>
                                    <div>
                                        <p class="mb-2">Invoice Sold</p>
                                        <h4 id="orders-sold"></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3">
                        <div class="card card-block card-stretch card-height">
                            <div class="card-body">
                                <div class="d-flex align-items-center card-total-sale">
                                    <div class="icon iq-icon-box-2 bg-success-light">
                                        <img th:src="@{/assets/images/report/product-sales.png}" class="img-fluid"
                                             alt="image">
                                    </div>
                                    <div>
                                        <p class="mb-2">Product Sold</p>
                                        <h4 id="product-sold"></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div sec:authorize="hasRole('ROLE_ADMIN')" class="col-lg-3 col-md-3">
                        <div class="card card-block card-stretch card-height">
                            <div class="card-body">
                                <div class="d-flex align-items-center card-total-sale">
                                    <div class="icon iq-icon-box-2 bg-primary-light">
                                        <img th:src="@{/assets/images/report/profit.png}" class="img-fluid" alt="image">
                                    </div>
                                    <div>
                                        <p class="mb-2">Profit</p>
                                        <h4 id="profit"></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="card col-lg-9 col-md-9">
                        <div class="card-header d-flex justify-content-between">
                            <div class="iq-header-title">
                                <h4 class="card-title">Order</h4>
                            </div>
                        </div>
                        <div class="card-body m-0 p-0">
                            <div class="col-lg-12">
                                <div class="table-responsive rounded">
                                    <table id="datatable" class="table mb-0 tbl-server-info text-center">
                                        <thead class="bg-white text-uppercase">
                                        <tr class="ligth ligth-data">
<!--                                            <th>ID</th>-->
                                            <th>Customer</th>
                                            <th>Total Amount</th>
                                            <th>Cash</th>
                                            <th>Change</th>
                                            <th>Date</th>
                                            <th>Quantity</th>
                                            <th>Action</th>
                                        </tr>
                                        </thead>
                                        <tbody class="ligth-body text-center" id="table-order-report">

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card col-lg-3 col-md-3">
                        <div class="card-header d-flex justify-content-between">
                            <div class="iq-header-title">
                                <h4 class="card-title">Best Seller</h4>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row mb-3">
                                <th:block th:each="product:${top3Products}">
                                    <div class="col-lg-12">
                                        <div class="card">
                                            <img th:src="'data:image/jpeg;base64,' + ${product.getEncodedImage()}" class="img-fluid rounded" alt="#">
                                            <div class="card-body">
                                                <h4 class="card-title" th:text="${product.getName()}"></h4>
                                                <p class="card-text" th:text="'Price: '+${product.getRetailPrice()}"></p>
                                                <p class="card-text" th:text="'Total Sales: '+${product.getTotalSales()}"></p>
                                            </div>
                                        </div>
                                    </div>
                                </th:block>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
</body>

</html>