<!doctype html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main-layout}"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<body class="  ">
    <article layout:fragment="content">
        <div class="content-page">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="d-flex flex-wrap flex-wrap align-items-center justify-content-between mb-4">
                            <div>
                                <h4 class="mb-3">Product List</h4>
                                <p class="mb-0">The product list effectively dictates product presentation and provides
                                    space<br> to list your products and offering in the most appealing way.</p>
                            </div>
                            <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/products/add}" class="btn btn-primary add-list"><i
                                    class="las la-plus mr-3"></i>Add Product</a>
                        </div>
                    </div>
                        <div class="col-lg-12">
                        <div class="table-responsive rounded mb-3">
                            <table class="data-tables table mb-0 tbl-server-info">
                                <thead class="bg-white text-uppercase">
                                    <tr class="ligth ligth-data">
                                        <th>
                                            <div class="checkbox d-inline-block">
                                                <input type="checkbox" class="checkbox-input" id="checkbox1">
                                                <label for="checkbox1" class="mb-0"></label>
                                            </div>
                                        </th>
                                        <th>Product</th>
                                        <th>Code</th>
                                        <th>Brand</th>
                                        <th>Price</th>
                                        <th>Quantity</th>
                                        <th sec:authorize="hasRole('ROLE_ADMIN')" >Action</th>
                                    </tr>
                                </thead>
                                <tbody class="ligth-body">
                                    <tr th:each="product : ${listProducts}" th:id="${product.getId()}">
                                        <td>
                                            <div class="checkbox d-inline-block">
                                                <input type="checkbox" class="checkbox-input" th:id="${product.getId()}">
                                                <label th:for="${product.getId()}" class="mb-0"></label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <img th:src="'data:image/jpeg;base64,' + ${product.getEncodedImage()}"
                                                     class="img-fluid rounded avatar-50 mr-3" alt="image">
                                                <div th:text="${product.getName()}"></div>
                                            </div>
                                        </td>
                                        <td th:text="${product.getBarCode()}"></td>
                                        <td th:text="${product.getBrand().getName()}"></td>
                                        <td th:text="${product.getRetailPrice()}"></td>
                                        <td th:text="${product.getQuantityOfBranch()}"></td>
                                        <td>
                                            <div sec:authorize="hasRole('ROLE_ADMIN')"  class="d-flex align-items-center list-action">
<!--                                                <a class="badge badge-info mr-2" data-toggle="tooltip"-->
<!--                                                    data-placement="top" title="" data-original-title="View" href="#"><i-->
<!--                                                        class="ri-eye-line mr-0"></i></a>-->
                                                <a class="badge bg-success mr-2" data-toggle="tooltip"
                                                    data-placement="top" title="" data-original-title="Edit"
                                                   th:href="${'/products/edit/' + product.getId()}"><i class="ri-pencil-line mr-0"></i></a>
                                                <a class="badge bg-warning mr-2" data-toggle="tooltip"
                                                    data-placement="top" title="" data-original-title="Delete"
                                                   th:data-id="${product.getId()}" onclick="deleteById(this.getAttribute('data-id')); return false;"
                                                ><i class="ri-delete-bin-line mr-0"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- Page end  -->
            </div>
        </div>
    </article>
</body>

</html>